<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-img 
      class="card-image"
      src="https://rmmaquinas.com.br/site/assets/2022/04/Totem-de-Autoatendimento-Slim-Preto-com-Laranja1.png"
      alt="Totem de atendimento"
    ></ion-img>
    <ion-text style="text-align: center;">
      <p style="margin-top: 10px;">Este aplicativo foi desenvolvido como parte da avaliação para a disciplina de Desenvolvimento Móvel</p>
    </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-label>Contribuiram com esse projeto:</ion-label>
        <ion-item>
          <ion-icon aria-hidden="true" name="person" class="ion-margin-end"></ion-icon>

          Igor Ramon - 01743163
        </ion-item>

        <ion-item>
          <ion-icon aria-hidden="true" name="person" class="ion-margin-end"></ion-icon>

          Joel Mendes Monteiro - 01541339
        </ion-item>

        <ion-item>
          <ion-icon aria-hidden="true" name="person" class="ion-margin-end"></ion-icon>

          Tamiris Eduarda - 01733327
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>